/* header{
    background: red;
}

body{
    background: pink;
} */

body, button {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #4AD5FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    margin: 0;
    padding: 30px;
}


.hero {
    background-color: #004E64;
    background-image: url(../images/perfil.jpg);
    background-size: 135px 240px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.hero strong {
    color: #20232A;
}

.portfolio {
    background: white;
    padding-bottom: 30px;
}

.portfolio h2 {
    margin: 0;
    padding: 30px 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.project {
    background-color: #ecf0f1;
    border: 1px solid gray;
    border-radius: 10px;
    margin:0px 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.project-details {
    width: 50%;
    padding: 10px;
    margin: 0;
}

.project-imageContainer {
    width: 50%;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.project img{
    border-radius: 8px;
}

.project-title{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

.project-course{
    margin-bottom: 0px;
    margin-top: 6px;
}

.project-description{
    margin-top: 40px;
    font-size: 19px;
}


.header {
    background-color: #4AD5FF;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 146.33px;
}

.header img {
    display: flex;
}

.menu {
    height: inherit;
    padding: 10px;
    justify-content: center;
}

.header ul {
    list-style: none;
    display: flex;
    height: inherit;
    margin: 0;
}

.header ul li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
}

figure {
    margin: 0;
}

#eventos {
    background-color: #FFB300;
}

#eventos h2 {
    margin-top: 0;
    padding: 10px;
}

.event {
    padding: 10px;
}

.event a {
    color: black;
    text-decoration: none;
    border: 3px solid #4AD5FF;
    padding: 3px;
    border-radius: 10px;
    background-color: #ecf0f1;
}

.contact {
    background-color: #004E64;
    padding: 10px;
}

footer {
    background-color: #004E64;
    border-top: 2px solid #4AD5FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.footer p {
    margin: 0;
    padding: 15px;
}

.footer a {
    color: black;
}

.footer img {
    vertical-align: middle;
}